[submodule "frontend"]
	path = frontend
	url = https://github.com/guts-consortium/guts-explorer-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/guts-consortium/guts-explorer-backend.git
